@font-face {
  font-family: "trip-bold";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~/assets/fonts/TripSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "trip";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~/assets/fonts/TripSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "trip-medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~/assets/fonts/TripSans-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "trip-mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("~/assets/fonts/TripSansMono-Regular.ttf") format("truetype");
}

body {
  font-family: "trip", sans-serif;
}
